<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loginform</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Handjet&display=swap');
    </style>
</head>

<body>

    <div id="app">
        <div class="container">
            <form action="#" method="get">
                <fieldset>
                    <legend>
                        <span class="material-symbols-outlined">
                            login
                        </span>
                    </legend>

                    <label for="username">Username</label>
                    <input type="text" name="username" id="username" placeholder="kevin123" required v-model="username">

                    <label for="user_password">Password</label>
                    <input type="password" name="user_password" id="user_password" required placeholder="*" v-model="password">

                    <!-- the button is disabeled until username and password has been filled -->
                    <button @click="loggedIn" :disabled="!loginValid">Login</button>
                    <div class="welcomeMessage">
                        <p v-show="showMessage">Welcome, {{username}}</p>    
                    </div>
                </fieldset>
            </form>
        </div>
    </div>


    <script src="./app.js"></script>
</body>

</html>