<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loginform</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body>

    <div id="app">
        <div class="container">
            <form action="#" method="get">
                <fieldset>
                    <legend>Login</legend>

                    <label for="username">Username</label>
                    <input type="text" name="username" id="username" placeholder="kevin123" required v-model="username">

                    <label for="user_password">Password</label>
                    <input type="password" name="user_password" id="user_password" required placeholder="*" v-model="password">

                    <button @click="loggedIn">Login</button>
                </fieldset>
            </form>
        </div>
    </div>


    <script src="./app.js"></script>
</body>

</html>